@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />
<partial name="_PortalPartial" />
<h5 align="right">Agreement</h5>
<partial name="_PatientHeaderPartial" />
<article>
    <header>
        <h3 align="center">Campus Orthopedics Physical Therapy, Inc.</h3>
        <h5 align="center">PATIENT FINANCIAL AGREEMENT & ACKNOWLEDGEMENT OF OFFICE POLICIES </h5>


        <p align="right">Effective date: August 1, 2020</p>
    </header>
    <div>
        <h6>
            <strong>Campus Orthopedics Physical Therapy Inc.</strong>believes that part of good health care practice is to establish and communicate our office
            financial policy to our patients. We are dedicated to providing the best possible care for you, and we want you to have a
            full understanding of our policies.
        </h6>
        <h6>
            <strong>1. PAYMENT</strong> is expected at the time of your visit. We accept cash, check, Visa, Mastercard, Discover, on
            select procedures. Payment will include any unmet <strong>
                deductible, co-insurance, co-payment amount, charges not covered by your insurance
                company
            </strong>. If you do not carry insurance, or if your coverage is currently under a pre-existing condition clause, payment in full is
            expected at the time of your visit. All non-filed services are expected to be paid at the time of service.
        </h6>
        <h6>
            <strong>2. INSURANCE:</strong> We are participating providers with most insurance plans. We will file all of the claims for these
            plans. Please remember that insurance is a contract between the patient and the insurance company and
            ultimately the <strong>patient is responsible for payment in full</strong>. As a courtesy to our patients, we will verify your
            insurance coverage, however, our verification is not a guarantee of benefits payable by your insurance. If you
            have a managed care plan that requires a referral to see a physical therapist, <strong>you must obtain a referral</strong> in order for
            your visit in our office to be covered under your medical insurance. If you do not have the valid referral and
            still wish to be seen, you will be asked to pay for the visit prior to your services. In order to bill your insurance
            and to meet filing guidelines we do ask for a copy of <strong>your insurance card and a photo ID</strong>.
            If our providers are not listed in your plan’s network, you may be responsible for partial or full payment.
        </h6>
        <h6>
            <strong>3. POLICY ON NON-COVERED SERVICES:</strong>This office offers access to many innovative services and procedures
            some of them are deemed as “not covered” by insurance. In some cases, you will be given an ABN (Advanced
            Beneficiary Notice) for these types of services/procedures before they are provided/performed. You will be
            responsible for payment in full at the time of service.
            <strong>a.</strong> Durable Medical Equipment Fitting – In order to receive a DME, a DME fitting must be
            performed. There will be a separate charge for the fitting which may or may not be covered by
            insurance. Based on your benefits, you will be required to pay for your fitting in full before receiving
            your Durable Medical Equipment.
        </h6>
        <h6><strong>4. RETURNED CHECKS</strong> will incur a $50.00 service charge.</h6>
        <h6>
            <strong>5. FORMS FEES:</strong>&nbsp;<strong>[a] Medical record copies</strong> – Medical record copy requests made by the patient for <strong>
                their personal use, for an insurance company, an school, an employer, etc.,will incur a copying fee
            </strong>, as directed by the state statute and
            are as follows, following the completion of a release of medical records form:<strong>1.</strong>$25.00 for the first 20 pages and $.15 per
            page for additional page over 20 pages &nbsp;<strong>2.</strong>$25.00 for Billing Records &nbsp;<strong>3.</strong>$20.00 for completion of any other one-page form or one-page physical therapist certification.
            There is no charge for records being released <strong>via fax</strong> to another physician or physical therapist for continuation of care.
            <strong>[b] Forms Completion</strong> – Forms may be dropped off and we will call when they are ready to be picked, or we
            will send to appropriate designee. Fees for form completion are as follows: <strong>1.</strong>$15.00 for Affidavit
            <strong>2.</strong>$10.00 for films/photos <strong>3.</strong>$20.00 for Government/Disability forms <strong>4.</strong>$25.00 for
            Private Benefit such as AFLAC/Disability forms.[c] Certified Medical Records copies to Attorney will be charged at $60.00 and Certified Billing records
            copies to Attorney for legal proceeding will be charged at $60.00. All medical records requests requires a <strong>Release of Medical Records</strong> form
            signed by the patient or legal guardian.
        </h6>
        <h6>
            <strong>6. RESPONSIBILITY FOR PAYMENT</strong>: I understand that I, personally, am financially responsible to Campus Orthopedics
            Physical Therapy for charges not covered by the assignment of insurance benefits and all non-covered charges.
        </h6>
        <h6>
            <strong>7. AUTHORIZATION & ASSIGNMENT OF INSURANCE BENEFITS</strong>: I hereby authorize Campus Orthopedics Physical Therapy
            to furnish information to insurance carriers concerning my illness and treatments and I hereby assign to
            Campus Orthopedics Physical Therapy all payments otherwise payable to me for Campus Orthopedics Physical Therapy services.
        </h6>
        <h6><strong>8. CONSENT AND DISCLOSURES:</strong> I voluntarily consent to medical treatment for myself and/or my dependents.</h6>
        <h6>
            <strong>9. RELEASE OF INFORMATION:</strong>I hereby authorize and direct Campus Orthopedics Physical Therapy to release (verbally or in
            writing) confidential medical information to any person, entity, government agencies, insurance carriers, or
            others who are financially liable to Campus Orthopedics Physical Therapy for charges for medical treatment, and for quality
            management, utilization review, transfer of medical care, and follow up purposes. I understand that a copy of
            this document may be used with the same effectiveness as an original.
        </h6>
        <h6>
            <strong>10. SELF PAY PATIENTS WHO ARE INSURED:</strong> Self-pay patients will be identified when they make the initial
            contact with the office and will be defined as a patient who <strong>a.</strong>has no health insurance coverage of any kind,
            including federal and state health care programs such as Medicare and Medicaid or other insurance coverage such as insurance
            provided by a school, or AFLAC <strong>b.</strong> does not claim third party liability for the patient’s health care treatment
            <strong>c.</strong> is not eligible for worker’s compensation coverage; and <strong>d.</strong> has no other responsible party covering the expenses associated with the care received from our clinics
            Self-pay patients will be required to pay a $150.00 deposit for their visit at time of check in. Any additional
            charges incurred will be collected at check out. All charges are due on the date of service.
        </h6>
        <h6>
            <strong>11. BILLING AND COLLECTION FEES:</strong> Campus Orthopedics Physical Therapy will submit a claim for payment
            to your insurance company. In the event your insurance carrier/company denies the services provided, you will be responsible for
            the payment in full. We appreciate prompt payment in full for any outstanding balance. If your account is
            turned over to our collection agency, you agree to pay an additional $50.00 fee to cover the fees imposed to
            Campus Orthopedics Physical Therapy by the collection agency in order to collect the outstanding balance.
        </h6>
        <h6>
            <strong>12. DIVORCED PARENTS OF PATIENTS:</strong> By signing below, the adult who signs in a minor child to our practice on the
            day of service accepts full responsibility for payment. It is not our policy to send bills or records to the other
            parent/guardian for issue of payment or communication. We will communicate about treatment and payment
            with the parent present at the time of visit. Parents are responsible between themselves to communicate with
            each other about the treatment and payment issues.
        </h6>
        <h6>
            <strong>13. NO SHOW POLICY:</strong> We understand that situations arise in which you must cancel your appointment. It is
            therefore requested that if you must cancel your appointment, you provide more than a 24-hour notice.
            Patients who do not show up nor provide more than a 24-hour notice are considered a NO SHOW. Patients who
            No-Show two (2) or more times in a 12-month period, may be dismissed from the practice.
        </h6>

        <h6>
            I have read and understand the practice’s office and financial policies and I agree to be bound by its terms.
            I also understand and agree that such terms may be amended by the practice at any time for any reason.
        </h6>
        <br />
        <br />
        <hr />
        <form method="POST">
            <p>
                <canvas width="500" height="200" id="signature"
                        style="border:1px solid black"></canvas><br>
                <button type="button" id="accept"
                        class="btn btn-primary">
                    Accept signature
                </button>
                <button type="submit" id="save"
                        class="btn btn-primary">
                    Save
                </button><br>
            </p>
        </form>
        <hr />
        Signature of Patient/Guarantor (if applicable)                         Date
        <br />
        <br />
        <hr />
        <p>
            Disclaimer: Campus Orthopedics Physical Therapy does not consider an individual seeking treatment to be a patient until a preliminary
            assessment is completed and the individual has been notified that he or she has been accepted as a patient; simply making
            an appointment does not automatically initiate doctor-patient relationship. We have the right to refuse services to anyone for any reason.
        </p>
        <p>
            Signature pad
        </p>
        <table>
            <tr>
                <td>
                    <strong>
                        <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">
                    </strong>
                </td>
            </tr>
        </table>

    </div>
</article>
