@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />

<partial name="_PortalPartial" />
<h5 align="right">Welcome to Campus Physical Therapy</h5>

<article>
    <div align="left" width="100%">
        <h6>
            We appreciates the confident your have shown in choosing us to provide your
            rehabilitation needs. Our goals is to return our patients to pre-injury function
            as safely and efficiently as possible through the judicious selection of physical
            therapy modalities and procedures. We believe that the patient should take an
            active role in the decision making process regarding their treatments.
        </h6>
        <h6>
            Please take the time to complete all requested information. We ask to print your
            name clearly and complete your forms to comply with our office policies, insurance, billing and or government
            and government requirements. This information allow us to properly process your claims with
            your insurance and significantly reduces the need for contacting you in the
            future due to incomplete information. A worng insurance information, a missing
            number or misspelled name contribute to a denial of your claims.
        </h6>
        <h6>
            As a courtesy to our patient we will bill your primary insurance. If you have
            medicare and a secondary insurance make sure that your have set up a medicare
            cross over to reduce the paper work for payments.
        </h6>
        <h6>
            Campus Orthopedics Physical Therapy requires you to pay your <strong>
                copayment, deductible
                and any non-covered services determined by your insurance
            </strong>.
            We provide two options: payment by credit card or by check.
        </h6>
        <h6>
            We are not part of Seton Hospital.
        </h6>
        <h6>
            We thank you for choosing us for your physical therapy services. Your physician
            recommended physical therapy services to you. However, your physician or Seton Hospital has no
            financial interests, no partnership, and no administrative decisions over <strong>
                Campus Orthopedics Physical Therapy Inc.
            </strong>
        </h6>

        <h6>
            If you have any questions about this office and its procedures, please contact me at dr.Luis.Araneda.DPT@gmail.com
            at your earliest convenience.
        </h6>
        <h6>
            Thank you, Dr. Luis Araneda, PT, DPT.
        </h6>

    </div>

    <hr />
    <form method="POST">
        <p>
            <canvas width="500" height="200" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
        </p>
    </form>
    <hr />

</article>
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>