@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />
<partial name="_PortalPartial" />
<h5 align="right">Liens</h5>
<partial name="_PatientHeaderPartial" />
<article>
    <header>
        <h3 align="center">Campus Orthopedics Physical Therapy, Inc.</h3>
        <h5 align="center">1800 Sullivan Ave Ste 402 Daly City, CA 94015 Tel:650.994.7800  Fax: 650.240.1834</h5>
        <hr />
        <h4 align="center">Assignment of Proceeds</h4>
        <h4 align="center">Lien for Medical/Physical Therapy Services</h4>


        <p align="right">Effective date: January 1, 2020</p>
    </header>
    <div>
        <h6>
            <strong> PART I. Certification, Authorization and Release In Accordance with HIPAA</strong>
        </h6>
        <h6>

            Patient and Attorney of Record "Attorney" certify that the information provided herein is
            correct and complete. Patient undestands that, inaccordance with the Health Information Portability
            and Privacy Act of 1996 HIPAA, Patient's medical Information relating to this personal injury care may
            be shared to manage and expedite Patient's medical treatment. Patient authorizes Patient's Physician,
            Attorney and Campus Orthopedics Physical Therapy Inc. and/or its affiliated group, Campus Physical
            Therapy Center to secure, release, and disclose such medical treatment information with companies and
            individuals as deemed necessary, and further agrees that examination, diagnosis, medical treatments,
            films and reports can be shared with necessary parties involved in Patient's case. Attorney acknowledges
            that Attorney has obtained a Release of Medcial Information from Patient for purpose of comunication
            regarding Patient's Medical information and that Campus Orthopedics Physical Therapy, Inc. is covered
            by said Release.
        </h6>
        <h6>
            <strong>PART II: Assignment and/or Lien for Medical Services</strong>
        </h6>
        <h6>
            Patient and Attorney understand that the medical services, supplies, and or treatemnt Patient is receiving
            as a part of the ongoigng personal injury claim may be billed as a lien may be authorized by applicable state
            laws and practice. Patient hereby grants to Physical Therapy / Facility a lien of proceeds of any settlement and
            /or judgement in Patient's pending legal action. Patient acknowled that Campus Orthopedics Physical Therapy, Inc.
            has the exclusive right to collect all amounts due for services by Physical Therapist/Facility. Patient has not
            the financial resources to pay the charges at this time and patient does not have insurance coverage to cover such
            medical services, whereby such insurance coverage would include, but not limited to, health insurance, Worker's
            Compensation, government or other medcial insurance coverage. Patient and Attorney acknowledge that the amount
            subject to this lien constitutes the ordinary and customary charges of Campus Orthopedics Physical Therapy Inc. and
            its affiliated for such as medical/ physical therapy services, supplies and/or treatment for similar services
            to others. Patient and Attorney agrees that this Assigment and/or Lien for Medical Services Agreement superseed
            any payment schedule agreement that Campus Orthopedics Physical Therapy may or may not have as a In-Network or
            Out of Network with Health Insurance Companies. Patient and Attorney undestand that they are responsible for informing
            Campus Orthopedics Physical Therapy Inc. of any changes in financial situation as it relateds to medical care and coverage.
            Patient understands that Patient may seek outside independent counsel or any decision regarding the funding or Patient's
            medical care or for any questions may have relating thereto. This Lien may be signed in parts and have the same force
            and effect as through exercuted in one document. A photocopy and/or fax copy of the executed lien shall have the same
            force and effect as the original.
        </h6>
        <hr />
        <p><strong>PART III: Patient Information / Attorney Information</strong>. Please complete all information</p>
        <br />
        <p>Attorney Name: _____________________________________________________________________________</p>
        <p>State Bar of California Number:_____________________________________________________________</p>
        <p>Telephone: _________________________________________________________________________________</p>
        <p>Fax Number:_________________________________________________________________________________</p>
        <p>Address: ___________________________________________________________________________________</p>
        <p>City: _______________________________________ State_____________________Zip:________________</p>
        <hr />
        <p>Patient Name: ______________________________________________________________________________</p>
        <p>California Drivers License No :_____________________________________________________________</p>
        <p>Telephone: _________________________________________________________________________________</p>
        <p>Address: ___________________________________________________________________________________</p>
        <p>City: _______________________________________ State_____________________Zip:________________</p>
        <p>Date of Accident:___________________________________________________________________________</p>
        <p>
            <strong>
                This assignment and Lien covers the foregoing case and any other legal or administrative action relating to
                the subject injury or claim.
            </strong>
        </p>
        <hr />
        <p>
            <strong>PART IV: Payment Agreement:</strong>
        </p>
        <p>
            Patient authorizes and direct Attorney to pay Campus Orthopedics Physical Therapy, Inc. as assignee of
            Campus Physical Therapy Center and/or Physical Therapist/Facility, directly for any billing and fees arising
            out of the physical therapy services, treatment and care, that have been or may be rendered to Patient by
            Campus Physical Therapy Center and/or Physical Therapist/Facility as a result of this incident and by reason
            of any other bills which Patient may owe Campus Physical Therapy Center and/or Physical Therapist/Facility.
            Patient understand that Patient remains personally responsible for  Campus Physical Therapy Center and/or Physical
            Therapist/Facility billings and that this obligation is not contingent upon Patient's receiving any settlement
            for Patient's claim.
        </p>
        <p>
            Patient will notify  Campus Physical Therapy Center and/or Physical Therapist/Facility of any payments received
            by Patient for medical services from an insurance company or any other source, and Patient will instruct his/her
            attorney to likewise notify  Campus Physical Therapy Center and/or Physical Therapist/Facility. All payment wil be
            forwarded to Campus Orthopedics Physical Therapy Inc. within 30 days of settlement.
        </p>
        <p>
            Patient further understand and accepts full financial responsibility for payment of ALL accounts assigned to Campus Physical
            Therapy Center and/or Physical Therapist/Facility. Patient undestands that the legal settlement my pay all, part,
            or none of Patient's account(s) and the patient is responsible for complete payment of ALL accounts. Patient understand
            that Patient is financially responsible for any amount unpaid by this assigment of proceeds or lien as may be authorized
            by State law and practice.
        </p>
        <p>
            Patient acknowledges that Campus Orthopedics Physical Therapy Center and/or Physical Therapist/Facility has made no
            guarantee as to the oucome or results in connection with this Lien. Further, Patient agrees to hold no harm against
            Campus Orthopedics Physical Therapy Center and/or Physical Therapist/Facility.
        </p>
        <p>
            By signing this document, Patient full undestands all provisions set forth in this Aggreement. The undersigned
            Attorney of Record for the above-named Patient, agrees to observed all terms stated herein and agrees to withhold
            such sums payable to Campus Orthopedics Physical Therapy Center and/or Physical Therapist/Facility, as assignee of
            Campus Physical Therapy Center and/or Physical Therapist/Facility, from any settlement judgement or verdict as
            may be necessary to adequately protect Campus Orthopedics Physical Therapy Center and/or Physical Therapist/Facility.
        </p>
        <p>
            Attorney is expressly directed to hold in <strong>Attorney's Client Trust Account</strong> such sums from any payment,
            settlements, dispositions, proceeds and/or verdicts received on Patient's behalf as may be required to adequately
            protect and pay Campus Orthopedics Physical Therapy Inc. for such services by Campus Physical Therapy Center and/or
            Physical Therapist/Facility. Attorney is further directed to pay from Attorney's Client Trust Account to Campus Orthopedics
            Physical Therapy Center that amount which is due and owing to Campus Orthopedics Physical Therapy Center, as assignee,
            for thise medical / physical therapy services, examinations, treatments and reports which Campus Orthopedics
            Physical Therapy Center and/or Physical Therapist/Facility has had prepared on Patient's behalf. Attorny further agrees
            that in the event Patient secures other counsel in connection with any action instituted by Patient on Account of the
            injuries fro which patient was treated, Attorney shall inform such new counsel of the Agreement, and secure new counsel's
            consent thereto. In the event of non-complaints with this agreement, a grievance against attorney will be filed to the State Bar.
        </p>
        <p>
            <strong>PART V: Verification:</strong>
        </p>
        <p>
            Patient authorizes and direct Attorney to provide a complete verifiable documentation about executed settlement
            agreement of Patient and Attorney with third parties upon request.
        </p>
        <hr />
        <p>
        <p>Attorney Name: _____________________________________________________________________________</p>
        <p>State Bar of California Number:_____________________________________________________________</p>
        <p>Date: ______________________________________________________________________________________</p>
        <hr />
        <p>Patient Name: ______________________________________________________________________________</p>
        <p>California Drivers License No :_____________________________________________________________</p>
        <p>Date: ______________________________________________________________________________________</p>
        <hr />
        <p>Campus Employee Name: ______________________________________________________________________</p>
        <p>Date: ______________________________________________________________________________________</p>
        <hr />
        <form method="POST">
            <p>
                <canvas width="750" height="200" id="sign"
                        style="border:1px solid black"></canvas><br>
                <button type="button" id="accept"
                        class="btn btn-primary">
                    Accept signature
                </button>
                <button type="submit" id="save"
                        class="btn btn-primary">
                    Save
                </button><br>
                <script src="jquery.min.js"></script>
                <script src="sign.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#sign').sign({
                            resetButton: $('#resetSign'),
                            lineWidth: 5,
                            width: 600,
                            height: 400
                        })
                    })
                </script>
            </p>
        </form>
        <hr />
    </div>
    <p>Accident Description </p>
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr>
            <td>
                <textarea rows="8" placeholder="Accident Description" class="form-control" name="description" id="description"></textarea>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <strong>
                    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">
                </strong>
            </td>
        </tr>
    </table>




</article>

@section Scripts {
    <script src="~/Scripts/signature_pad.min.js"></script>
    <script src="~/Scripts/SignaturePadInit.js"></script>
}
