@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Campus Physical Therapy Canvas</title>
    <link rel="stylesheet" href="assets/css/main.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="field">
        <canvas id="canvas"></canvas>
        <div class="tools">
            <button type="button" class="button"> Undo </button>
            <button type="button" class="button"> Clear </button>

            <div class="color-field" style="background: red;"></div>
            <div class="color-field" style="background: blue;"></div>
            <div class="color-field" style="background: green;"></div>
            <div class="color-field" style="background: yellow;"></div>

            <input type="color" class="color-picker" />
            <input type="range" min="1" max="100" class="pen-range" />
        </div>
    </div>


    <script src="~/js/main.js"></script>
</body>
</html>