@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">
    အောက်ပါအချက်အလက်များကိုကယ်လီဖိုးနီးယားနှင့်အမေရိကန်ပြည်ထောင်စုဥပဒေများဖြင့်ကာကွယ်ထားသည်
    aoutpar aahkyetaalaatmyarrko kaallehpoeneeyarr nhang aamayrikaanpyihtaunghcu upadaymyarr hpyang karkwalhtarr sai
</h5>
<hr />

<partial name="_PortalPartial" />
<h5 align="right">
    ကျောင်းပရဝုဏ်ရုပ်ပိုင်းဆိုင်ရာကုထုံးမှလှိုက်လှဲစွာကြိုဆိုပါသည်
    kyaungg p r wun rotepinesinerar kuhtone mha lhaitelhaellhcwarkyaosoparsai
</h5>

<article>
    <div align="left" width="100%">
        <h6>
            သင်၏ ၀ န်ဆောင်မှုပေးမှုကိုရွေးချယ်ရာတွင်သင်၏ပြသခဲ့သည့်ယုံကြည်မှုကိုကျွန်ုပ်တို့တန်ဖိုးထားသည်
            ပြန်လည်ထူထောင်ရေးလိုအပ်ချက်များ။ ကျွန်ုပ်တို့၏ရည်မှန်းချက်မှာကျွန်ုပ်တို့၏လူနာများအားကြိုတင်ဒဏ်ရာအနာတရဖြစ်စေရန်လုပ်ဆောင်ရန်ဖြစ်သည်
            ရုပ်ပိုင်းဆိုင်ရာ၏တရားသဖြင့်စီရင်ရွေးချယ်ရေးမှတဆင့်တတ်နိုင်သမျှလုံခြုံစွာနှင့်ထိရောက်စွာ
            ကုထုံးပုံစံများနှင့်လုပ်ထုံးလုပ်နည်းများ။ လူနာသည်ယူသင့်သည်ဟုကျွန်ုပ်တို့ယုံကြည်သည်
            သူတို့ရဲ့ကုသမှုနှင့်ပတ်သက်။ ဆုံးဖြတ်ချက်ချလုပ်ငန်းစဉ်များတွင်တက်ကြွစွာအခန်းကဏ္။ ။

            saineat  0  n  saungmhupayy mhuko rwayhkyaalrartwin saineat pyasahkae sany yonekyimhuko kyawanotethoet taanhpoehtarrsai
            pyanlaihtuuhtaungrayy loaauthkyetmyarr .  kyawanotethoeteat raimhaannhkyet mhar kyawanotethoeteat luunarmyarraarr kyaotain danrar aanartar hpyithcayraan lotesaungraanhpyitsai
            rotepinesinerar eat tararr s hpyang hcerain rwayhkyaalrayy mhat sang taatninesamyaha lonehkyuanhcwar nhanghtirouthcwar
            kuhtone ponehcanmyarr nhang lotehtonelotenaeemyarr .  luunar sai yuu sang saihu kyawanotethoetyonekyisai
            suuthoetrae kusamhu nhang paatsaat .  sonehpyathkyethkya lotengaann hcain myarrtwin taatkyawhcwar aahkaann kan .
        </h6>
        <h6>
            အားလုံးတောင်းဆိုထားသောသတင်းအချက်အလက်ဖြည့်စွက်ဖို့အချိန်ယူပါ။ ငါတို့သည်သင်တို့၏ print ထုတ်မှမမေး
            ကျွန်ုပ်တို့၏မူဝါဒပေါ်လစီများ၊ အာမခံ၊ ငွေတောင်းခံလွှာနှင့်သို့မဟုတ်အစိုးရတို့နှင့်ကိုက်ညီရန်သင်၏ပုံစံများကိုရှင်းရှင်းလင်းလင်းဖော်ပြပြီးဖြည့်ပါ
            နှင့်အစိုးရလိုအပ်ချက်များကို။ ဤအချက်အလက်ကျွန်တော်တို့ကိုစနစ်တကျနှင့်သင်၏တောင်းဆိုမှုများကို process မှခွင့်ပြု
            သင်၏အာမခံနှင့်သင်နှင့်ဆက်သွယ်ရန်လိုအပ်မှုကိုသိသိသာသာလျှော့ချပေးသည်
            မပြည့်စုံသတင်းအချက်အလက်ကြောင့်အနာဂတ်။ တစ်ဦးက worng အာမခံသတင်းအချက်အလက်, တစ်ဦးပျောက်ဆုံး
            နံပါတ်သို့မဟုတ်စာလုံးပေါင်းမှားအမည်ဖြင့်သင့်ရဲ့တောင်းဆိုမှုများတစ်ငြင်းပယ်ရန်ကူညီသည်။

            aarrlone taunggsohtarrsaw satainnaahkyetaalaat hpya eet hcwat hphoet aahkyaneyuu par .  ngarthoetsai sainthoeteat print  htote mha mamayy
            kyawanotethoeteat muuward pawlahce myarr ,  aarmahkan ,  ngwaytaungg hkan lwhar nhang shoetmahote aahcoer thoet nhang kitenye raan saineat ponehcanmyarr ko shinnshinnlainnlainn hpawpya pyee hpya ny par
            nhaint aahcoer loaauthkyetmyarrko .  i aahkyetaalaat kyawantawthoet ko hcanaittakya nhang saineat taunggsomhumyarrko process  mha hkwinpyu
            saineat aarmahkan nhang sain nhang saatswalraan loaautmhu ko sisisarsar shothkyapayysai
            m pyany hcone satainnaahkyetaalaat kyawwng aanargaat .  tait uk worng  aarmahkan satainnaahkyetaalaat,  tait upyawwatsone
            nanparat shoetmahote hcarlonepaungg mhar aamai hpyang sang rae taunggsomhumyarr tait ngyinnpaal raan kuunye sai .
        </h6>
        <h6>
            ကျွန်ုပ်တို့၏လူနာများအတွက်ယဉ်ကျေးသောအနေဖြင့်ကျွန်ုပ်တို့သည်သင်၏မူလအာမခံကိုငွေတောင်းခံပါမည်။ မင်းရှိရင်
            Medicare နှင့်အလယ်တန်းအာမခံသည်သင်၏ Medicare တစ်ခုသတ်မှတ်ထားကြောင်းသေချာစေပါ
            ငွေပေးချေမှုများအတွက်စက္ကူအလုပ်လျှော့ချရန်ကူးကူး။
            kyawanotethoeteat luunarmyarraatwat yain kyaayy saw a nay hpyang kyawanotethoetsai saineat muul aarmahkan ko ngwaytaungg hkan parmai .  mainnshirain
            Medicare  nhang aalaaltaann aarmahkan saisaineat Medicare  taithku saatmhaathtarrkyaungg sayhkyaar hcaypar
            ngwaypayy hkyaaymhu myarraatwat hcakkuu aalote shothkya raan kuu kuu .
        </h6>
        <h6>
            ကျောင်းပရဝုဏ်အရိုးအထူးကုကုထုံးသည်သင်၏ <strong>
                ငွေပေးချေရန်လိုအပ်သည်
                copayment, နှုတ်ယူပြီးသား
                သင်၏အာမခံကဆုံးဖြတ်သည့်မဖုံးထားသည့်ဝန်ဆောင်မှုများ
            </strong>
            အကြွေးဝယ်ကဒ်ဖြင့်ဖြစ်စေ၊ ချက်လက်မှတ်ဖြင့်ဖြစ်စေငွေပေးချေနိုင်သည်။

            kyaungg p r wun aaroe aahtuuku kuhtone saisaineat <strong>
                ngwaypayy hkyaay raanloaautsai
                copayment,  nhuat yuupyeesarr
                saineat aarmahkan k sonehpyat sany m hpone htarr sanywaansaungmhumyarr
            </strong>
            aakyaway waal kad hpyang hpyithcay ,  hkyet laatmhaat hpyang hpyithcay ngwaypayy hkyaay ninesai
        </h6>
        <h6>
            ကျွန်ုပ်တို့သည် Seton ဆေးရုံ၏အစိတ်အပိုင်းမဟုတ်ပါ။
            kyawanotethoetsai Seton  sayyrone eat aahcateaapine mahotepar .
        </h6>
        <h6>
            သင်၏ရုပ်ပိုင်းဆိုင်ရာကုထုံးဝန်ဆောင်မှုများအတွက်ကျွန်ုပ်တို့အားရွေးချယ်ခြင်းအတွက်ကျေးဇူးတင်ပါသည်။ သင့်ဆရာဝန်
            သင့်အားအကြံပြုထားသောရုပ်ပိုင်းဆိုင်ရာကုထုံးဝန်ဆောင်မှု။ သို့သော်သင်၏ဆရာဝန်သို့မဟုတ်ဆေးရုံဆေးခန်းမရှိပါ
            ဘဏ္interestsာရေးဆိုင်ရာအကျိုးစီးပွားများ၊ မိတ်ဖက်များနှင့် <strong></strong>
                အပေါ်အုပ်ချုပ်ရေးဆိုင်ရာဆုံးဖြတ်ချက်များမပါရှိပါ
                ကျောင်းပရဝုဏ်အရိုးအထူးကုရုပ်ပိုင်းဆိုင်ရာကုထုံး Inc ကို
                saineat rotepinesinerar kuhtone waansaungmhumyarr aatwat kyawanotethoetaarr rwayhkyaalhkyinn aatwat kyaayyjuutainparsai .  sangsararwaan
                sang aarr aakyaanpyu htarrsaw rotepinesinerar kuhtone waansaungmhu .  shoetsaw saineat sararwaan shoetmahote sayyrone sayyhkaannmashipar
                bhaninterests ar rayysinerar aakyoehceepwarr myarr ,  matehpaat myarrnhang <strong>
                    aapaw aotehkyaoterayysinerar sonehpyathkyetmyarr m par shipar
                    kyaungg p r wun aaroe aahtuuku rotepinesinerarkuhtone Inc  ko
                </strong>
        </h6>

        <h6>
            သင်ဤရုံးနှင့်၎င်း၏လုပ်ထုံးလုပ်နည်းများနှင့်ပတ်သက်ပြီးမည်သည့်မေးခွန်းများရှိပါက dr.Luis.Araneda.DPT@gmail.com မှာငါ့ကို ကျေးဇူးပြု. ဆက်သွယ်ပါ
            သင့်ရဲ့အစောဆုံးအဆင်ပြေမှာပါ။
            sain i rone nhaint ၎inneat lotehtonelotenaeemyarr nhaint paatsaatpyee mai saeet mayyhkwannmyarrshipark dr.Luis.Araneda.DPT@gmail.com  mharngarko  kyaayyjuupyu.  saatswalpar
            saint rae aahcawsone aasainpyay mhar par .
        </h6>
        <h6>
            ကျေးဇူးတင်ပါတယ်,
            kyaayyjuutainpartaal, Dr. Luis Araneda, PT, DPT.
        </h6>

    </div>

    <hr />
    <form method="POST">
        <p>
            <canvas width="500" height="200" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
        </p>
    </form>
    <hr />

</article>
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>