@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />
<partial name="_PortalPartial" />
<h5 align="right">Release Medical Information</h5>
<link href="~/css/SolutionsStyleSheets/FormsStyleSheet.css" rel="stylesheet" />
<partial name="_PatientHeaderPartial" />
<h2>Release of Medical Information and Assigment of Benefits</h2>

<div class="text-left">
    <h6>
        I authorized the release of medical information necessary for filin a health
        insurance claim for services rendered to me by Campus Physical Therapy, Inc. I
        also instruct and direct my insurance carrier-s _____________________________
        to make payments directly to Campus Physical Therapy, Inc. I hereby, I authorize
        Campus Physical Therapy, Inc. to use and disclosed my health information about
        Physical Therapy evaluations and treatments necsssary to secure payment of
        benefits and healthcare operations. I authorize the use of this signature on all
        insurance submissions. This is a direct assignment of my right and benefits under
        my policy.
    </h6>
</div>
<br />
<br />
<hr />
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>