@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">
    المعلومات التالية محمية بموجب قوانين كاليفورنيا والولايات المتحدة الفيدرالية
    almaelumat altaaliat mahmiat bimujib qawanin kalifurnia walwilayat almutahidat alfidiralia
</h5>
<hr />

<partial name="_PortalPartial" />
<h5 align="right">
    مرحبًا بكم في العلاج الطبيعي بالحرم الجامعي
    mrhbana bikum fi aleilaj altabieii bialharam aljamieii
</h5>

<article>
    <div align="left" width="100%">
        <h6>
            نحن نقدر الثقة التي أظهرتها في اختيارك لنا لتزويدك
            احتياجات إعادة التأهيل. أهدافنا هي إعادة مرضانا إلى وظيفة ما قبل الإصابة
            بأمان وكفاءة قدر الإمكان من خلال الاختيار الحكيم المادي
            طرائق وإجراءات العلاج. نعتقد أن المريض يجب أن يأخذ
            دور فعال في عملية صنع القرار فيما يتعلق بعلاجهم.

            nahn nuqadir althiqat alati 'azharatha fi akhtiarik lana litazwidik
            aihtiajat 'iieadat altaahili. 'ahdafuna hi 'iieadat mardana 'iilaa wazifat ma qabl al'iisaba
            bi'aman wakafa'at qadr al'iimkan min khilal alaikhtiar alhakim almadiyi
            tarayiq wa'iijra'at alealaji. naetaqid 'ana almarid yajib 'an yakhudh
            dawr faeaal fi eamaliat sune alqarar fima yataealaq bieilajihim.
        </h6>
        <h6>
            يرجى أخذ الوقت الكافي لإكمال جميع المعلومات المطلوبة. نطلب طباعة
            حدد اسمًا واضحًا واستكمل نماذجك للامتثال لسياسات مكتبنا والتأمين والفواتير و / أو الحكومة
            والمتطلبات الحكومية. تسمح لنا هذه المعلومات بمعالجة مطالباتك بشكل صحيح مع
            التأمين الخاص بك ويقلل بشكل كبير من الحاجة إلى الاتصال بك في
            المستقبل بسبب عدم اكتمال المعلومات. معلومات التأمين البالية ، في عداد المفقودين
            الرقم أو الاسم الذي به خطأ إملائي يساهم في رفض مطالباتك.

            yurjaa 'akhdh alwaqt alkafi li'iikmal jamie almaelumat almatlubati. natlub tibaeatan
            hadad asmana wadhana waistakmal namadhajak lilaimtithal lisiasat maktabina waltaamin walfawatir w / 'aw alhukuma
            walmutatalabat alhukumiatu. tasmah lana hadhih almaelumat bimuealajat mutalabatik bishakl sahih mae
            altaamin alkhasu bik wayuqalil bishakl kabir min alhajat 'iilaa alaitisal bik fi
            almustaqbal bisabab eadam aiktimal almaelumati. maelumat altaamin albaliat , fi eidad almafqudin
            alraqm 'aw aliasm aladhi bih khata 'iimlayiyun yusahim fi rafd mutalibatiki.
        </h6>
        <h6>
            تقديرًا منا لمريضنا ، سنقوم بدفع رسوم التأمين الأساسي الخاص بك. اذا كنت تمتلك
            الرعاية الطبية والتأمين الثانوي تأكد من أنك قد أعددت لك علاجًا طبيًا
            عبور لتقليل العمل الورقي للمدفوعات.
            tqdyrana minaa limaridina , sanaqum bidafe rusum altaamin al'asasii alkhasi bika. adha kunt tamtalik
            alrieayat altibiyat waltaamin althaanawiu ta'akad min 'anak qad 'aedadt lak elajana tbyana
            eubur litaqlil aleamal alwaraqii lilmadfueati.
        </h6>
        <h6>
            يتطلب منك قسم العلاج الطبيعي لجراحة العظام في الحرم الجامعي دفع مبلغ <strong>
                الدفع المشترك ، للخصم
                وأي خدمات غير مغطاة يحددها التأمين الخاص بك
            </strong>.
            نقدم خيارين: الدفع ببطاقة الائتمان أو بشيك.
            yatatalab mink qism aleilaj altabieii lijirahat aleizam fi alharam aljamieii dafae mablagh <strong>
                aldafe almushtarak , lilkhasm
                wa'ayu khadmat ghayr mughataat yuhadiduha altaamin alkhasu bik
            </strong>.
            nuqadim khiarini: aldafe bibitaqat aliaytiman 'aw bishayki.
        </h6>
        <h6>
            نحن لسنا جزء من مستشفى سيتون.
            nahn lasna juz' min mustashfaa situn.
        </h6>
        <h6>
            نشكرك على اختيارك لنا لخدمات العلاج الطبيعي الخاصة بك. طبيبك
            خدمات العلاج الطبيعي الموصى بها لك. ومع ذلك ، لا يوجد لدى طبيبك أو مستشفى سيتون
            المصالح المالية ، لا شراكة ، ولا قرارات إدارية على <strong>
                شركة العلاج الطبيعي لجراحة العظام في الحرم الجامعي
            </strong>
            nashkuruk ealaa akhtiarik lana likhadmat aleilaj altabieii alkhasat bika. tabibik
            khadamat aleilaj altabieii almusaa biha lika. wamae dhalik , la yujad ladaa tabibik 'aw mustashfaa situn
            almasalih almaliat , la shirakat , wala qararat 'iidariat ealaa <strong>
                sharikat aleilaj altabieii lijirahat aleizam fi alharam aljamieii
            </strong>
        </h6>
        <h6>
            إذا كان لديك أي أسئلة حول هذا المكتب وإجراءاته ، فيرجى الاتصال بي على dr.Luis.Araneda.DPT@gmail.com
            في أقرب وقت يناسبك.
            'iidha kan ladayk 'ayu 'asyilat hawl hadha almaktab wa'iijra'atih , fayurjaa alaitisal bi ealaa dr.Luis.Araneda.DPT@gmail.com
            fi 'aqrab waqt yunasibuki.
        </h6>
        <h6>
            شكرا لك
            shukrana lak, Dr. Luis Araneda, PT, DPT.
        </h6>

    </div>

    <hr />
    <form method="POST">
        <p>
            <canvas width="500" height="200" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
        </p>
    </form>
    <hr />

</article>
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>