@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">La siguiente información está protegida por las leyes federales de California y EE. UU.</h5>
<hr />
<partial name="_PortalPartial" />
<h5 align="right">Cancellation / No Show Policy</h5>
<partial name="_PatientHeaderPartial" />
<h5>Missed Appointment Policy</h5>
<h6>
    Our goal is to provide quality health care to all our patients in a timely manner. No-shows, late arrivals, and cancellations
    inconvenience not only our providers, but our other patients as well. Please be aware of our policy regarding missed
    appointments.
</h6>
<br />
<h5>Appointment Cancellation</h5>
<h6>
    When you book your appointment, you are holding a space on our calendar that is no longer available to our other patients.
    In order to be respectful of your fellow patients, please call our office at 650.994.7800 as soon as you know you will not be
    able to make your appointment. You may leave an email to: campuspt@gmail.com at any time.
</h6>
<h6>
    If cancellation is necessary, we require that you call at least 24 hours in advance. Appointments are in high demand, and
    your advanced notice will allow another patient access to that appointment time.
</h6>
<br />
<h5>How to Cancel Your Appointment</h5>
<h6>
    If you need to cancel your appointment, please call us at 650.994.7800 between the hours of 8:00 AM - 5:00PM .
    If necessary, you may leave a detailed voicemail message. We will return your call as soon as possible.
    You may leave an email to: campuspt@gmail.com at any time.
</h6>
<br />
<h5>Late Cancellations/No-Shows</h5>
<h6>
    A cancellation is considered late when the appointment is cancelled less than 24 hours before the appointed time.
    A no-show is when a patient misses an appointment without cancelling. In either case, we will charge the patient
    a <strong>$40 </strong> missed appointment fee.
</h6>
<h6>
    For new patients’ first appointments, a no show or late cancellation will result in a full charge of the new patient fee.
    We will charge the patient a <strong>$90 </strong> no show Evaluation Fee.
</h6>
<br />
<h5>Short Cancellation Policy</h5>
<h6>
    We know your time is valuable, and ours is too. Out of respect for our staff and our other clients, we ask that
    you give us at least 24 hours notice if you need to cancel an appointment.
</h6>
<h6>
    The first time a client misses an appointment, we will make a note in your file. All future missed appointments
    will incur a <strong>$40 </strong>fee.
</h6>
<h6>
    If you made a advance payment for your appointment, please understand:
    Cancellations made 5 days or more in advance of the Appointment date will receive a 100% refund.
    Cancellations made within 1 day will receive a 50% refund.
    Cancellations made with less than 24 hours will not receive a refund.
</h6>
