@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">
    Следующая информация защищена федеральными законами Калифорнии и США.
    Sleduyushchaya informatsiya zashchishchena federal'nymi zakonami Kalifornii i SSHA.
</h5>
<hr />
<h5>Russian</h5>
<partial name="_PortalPartial" />
<h5 align="right">
    Добро пожаловать в кампус физиотерапии
    Dobro pozhalovat' v kampus fizioterapii
</h5>

<article>
    <div align="left" width="100%">
        <h6>
            Мы ценим вашу уверенность в том, что выбрали нас для
            реабилитационные потребности. Наша цель - вернуть пациентам работоспособность до травм.
            максимально безопасно и эффективно благодаря разумному выбору физических
            методы и процедуры терапии. Мы считаем, что пациенту следует принять
            активная роль в процессе принятия решений относительно их лечения.

            My tsenim vashu uverennost' v tom, chto vybrali nas dlya
            reabilitatsionnyye potrebnosti. Nasha tsel' - vernut' patsiyentam rabotosposobnost' do travm.
            maksimal'no bezopasno i effektivno blagodarya razumnomu vyboru fizicheskikh
            metody i protsedury terapii. My schitayem, chto patsiyentu sleduyet prinyat'
            aktivnaya rol' v protsesse prinyatiya resheniy otnositel'no ikh lecheniya.
        </h6>
        <h6>
            Пожалуйста, найдите время, чтобы заполнить всю запрашиваемую информацию. Просим распечатать ваш
            четко называть и заполнять формы в соответствии с политикой нашего офиса, страхованием, выставлением счетов и / или государственными
            и государственные требования. Эта информация позволяет нам правильно обрабатывать ваши претензии с
            вашу страховку и значительно сокращает необходимость связываться с вами в
            будущее из-за неполной информации. Изношенная страховая информация, недостающая
            номер или неправильно написанное имя способствуют отклонению ваших требований.

            Pozhaluysta, naydite vremya, chtoby zapolnit' vsyu zaprashivayemuyu informatsiyu. Prosim raspechatat' vash
            chetko nazyvat' i zapolnyat' formy v sootvetstvii s politikoy nashego ofisa, strakhovaniyem, vystavleniyem schetov i / ili gosudarstvennymi
            i gosudarstvennyye trebovaniya. Eta informatsiya pozvolyayet nam pravil'no obrabatyvat' vashi pretenzii s
            vashu strakhovku i znachitel'no sokrashchayet neobkhodimost' svyazyvat'sya s vami v
            budushcheye iz-za nepolnoy informatsii. Iznoshennaya strakhovaya informatsiya, nedostayushchaya
            nomer ili nepravil'no napisannoye imya sposobstvuyut otkloneniyu vashikh trebovaniy.
        </h6>
        <h6>
            В знак уважения к нашему пациенту мы выставим счет вашей основной страховке. Если у тебя есть
            Medicare и вторичная страховка убедитесь, что вы настроили медицинскую помощь
            переходите, чтобы сократить бумажную работу по оплате.

            V znak uvazheniya k nashemu patsiyentu my vystavim schet vashey osnovnoy strakhovke. Yesli u tebya yest'
            Medicare i vtorichnaya strakhovka ubedites', chto vy nastroili meditsinskuyu pomoshch'
            perekhodite, chtoby sokratit' bumazhnuyu rabotu po oplate.
        </h6>
        <h6>
            Физиотерапия Campus Orthopaedics требует, чтобы вы заплатили ваш <strong>
                доплата, франшиза
                и любые не покрываемые услуги, определенные вашей страховкой
            </strong>.
            У нас есть два варианта: оплата кредитной картой или чеком.
            Fizioterapiya Campus Orthopaedics trebuyet, chtoby vy zaplatili vash <strong>
                doplata, franshiza
                i lyubyye ne pokryvayemyye uslugi, opredelennyye vashey strakhovkoy
            </strong>.
            U nas yest' dva varianta: oplata kreditnoy kartoy ili chekom.
        </h6>
        <h6>
            Мы не являемся частью больницы Сетон.
            My ne yavlyayemsya chast'yu bol'nitsy Seton.
        </h6>
        <h6>
            Мы благодарим вас за то, что выбрали нас для оказания физиотерапевтических услуг. Ваш врач
            рекомендовал вам физиотерапевтические услуги. Однако у вашего врача или больницы Сетон нет
            финансовые интересы, партнерство и административные решения по <strong>
                Campus Orthopaedics Physical Therapy Inc.
            </strong>
            My blagodarim vas za to, chto vybrali nas dlya okazaniya fizioterapevticheskikh uslug. Vash vrach
            rekomendoval vam fizioterapevticheskiye uslugi. Odnako u vashego vracha ili bol'nitsy Seton net
            finansovyye interesy, partnerstvo i administrativnyye resheniya po <strong>
                Campus Orthopaedics Physical Therapy Inc.
            </strong>
        </h6>

        <h6>
            Если у вас есть какие-либо вопросы об этом офисе и его процедурах, свяжитесь со мной по адресу dr.Luis.Araneda.DPT@gmail.com
            при первой возможности.
            Yesli u vas yest' kakiye-libo voprosy ob etom ofise i yego protsedurakh, svyazhites' so mnoy po adresu dr.Luis.Araneda.DPT@gmail.com
            pri pervoy vozmozhnosti.
        </h6>
        <h6>
            Спасибо,
            Spasibo, Dr. Luis Araneda, PT, DPT.
        </h6>

    </div>

    <hr />
    <form method="POST">
        <p>
            <canvas width="500" height="200" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
        </p>
    </form>
    <hr />

</article>
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>