@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />


<li>
    <div>
        <ul class="nav">
            <li><a href="/Home/Welcome"><i class="fa fa-fw fa-stethoscope"></i>Welcome&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/Agreement"><i class="fa fa-fw fa-stethoscope"></i>Agreement&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/Assignment"><i class="fa fa-fw fa-stethoscope"></i>Assignment&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/Cancellation"><i class="fa fa-fw fa-stethoscope"></i>Cancellation&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/MedicalConsent"><i class="fa fa-fw fa-stethoscope"></i>Consent&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/DirectAccess"><i class="fa fa-fw fa-stethoscope"></i>Access&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/Lien"><i class="fa fa-fw fa-stethoscope"></i>Lien&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/Intake"><i class="fa fa-fw fa-stethoscope"></i>Intake&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/History"><i class="fa fa-fw fa-stethoscope"></i>History&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/PastHistory"><i class="fa fa-fw fa-stethoscope"></i>Past History&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/SpecialTest"><i class="fa fa-fw fa-stethoscope"></i>Special Test&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
            <li><a href="/Home/Goals"><i class="fa fa-fw fa-stethoscope"></i>Goals&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        </ul>
    </div>
</li>
