@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />
<partial name="_PortalPartial" />
<h5 align="right">Cancellation / No Show Policy</h5>
<partial name="_PatientHeaderPartial" />
<h5>Missed Appointment Policy</h5>
<h6>
    Nuestro objetivo es brindar atención médica de calidad a todos nuestros pacientes de manera oportuna. No se presenta, llegadas tardías y cancelaciones
    incomodar no solo a nuestros proveedores, sino también a nuestros otros pacientes. Tenga en cuenta nuestra política con respecto a los
    equipo.
</h6>
<br />
<h5>Cancelación de cita</h5>
<h6>
    Cuando reserva su cita, tiene un espacio en nuestro calendario que ya no está disponible para nuestros otros pacientes.
    Para ser respetuoso con sus compañeros pacientes, llame a nuestra oficina al 650.994.7800 tan pronto como sepa que no será
    capaz de hacer su cita. Puede dejar un correo electrónico a: campuspt@gmail.com en cualquier momento.
</h6>
<h6>
    Si la cancelación es necesaria, requerimos que llame con al menos 24 horas de anticipación. Las citas tienen una gran demanda y
    su aviso anticipado permitirá que otro paciente acceda a la hora de la cita.
</h6>
<br />
<h5>Cómo cancelar su cita</h5>
<h6>
    Si necesita cancelar su cita, llámenos al 650.994.7800 entre las 8:00 A. M. Y las 5:00 P. M.
    Si es necesario, puede dejar un mensaje de voz detallado. Nosotros le devolveremos la llamada tan pronto como sea posible.
    Addemas, en cualquier momento, puede dejar un correo electrónico a: campuspt@gmail.com
</h6>
<br />
<h5>Cancelaciones tardías / no presentación</h5>
<h6>
    Una cancelación se considera tardía cuando la cita se cancela menos de 24 horas antes de la hora señalada.
    Una no presentación es cuando un paciente falta a una cita sin cancelarla. En cualquier caso, le cobraremos al paciente
    una tarifa de cita perdida de <strong> $ 40.00 </strong>.
</h6>
<h6>
    Para las primeras citas de los pacientes nuevos, la no presentación o la cancelación tardía resultará en un cargo completo de la tarifa del nuevo paciente.
    Cobraremos al paciente una tarifa de evaluación de <strong> $ 90 </strong> por no presentarse.
</h6>
<br />
<h5>Política de cancelación breve</h5>
<h6>
    Sabemos que su tiempo es valioso y el nuestro también. Por respeto a nuestro personal y a nuestros otros clientes, pedimos que
    nos avisa con al menos 24 horas de anticipación si necesita cancelar una cita.
</h6>
<h6>
    La primera vez que un cliente falta a una cita, tomaremos una nota en su archivo. Todas las citas futuras perdidas
    incurrirá en una tarifa de <strong> $ 40 </strong>.
</h6>
<h6>
    Si hizo un pago por adelantado por su cita, por favor comprenda:
    Las cancelaciones hechas 5 días o más antes de la fecha de la cita recibirán un reembolso del 100%.
    Las cancelaciones realizadas dentro de 1 día recibirán un reembolso del 50%.
    Las cancelaciones realizadas con menos de 24 horas no recibirán reembolso.
</h6>
