@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center"> La siguiente información está protegida por las leyes federales de California y EE. UU.
</h5>
<hr />

<partial name="_PortalPartial" />
<h5 align="right">Bienvenido a Campus Physical Therapy</h5>

<article>
    <div align="left" width="100%">
        <h6>
            Agradecemos la confianza que ha demostrado al elegirnos para proporcionar su
            necesidades de rehabilitación. Nuestro objetivo es devolver a nuestros pacientes a la función anterior a la lesión.
            de la manera más segura y eficiente posible mediante la selección juiciosa de
            modalidades y procedimientos de terapia. Creemos que el paciente debe tomar una
            papel activo en el proceso de toma de decisiones sobre sus tratamientos.
        </h6>
        <h6>
            Hacemos hincapié en la importancia de una buena actitud y mantenemos una política de tolerancia cero ante las malas actitudes o la falta de respeto
            dentro de nuestra oficina. Creemos que una gran actitud hace una gran diferencia en la oficina de fisioterapia con
            un entorno abierto en el que estén presentes otros pacientes. La rehabilitación a veces será difícil, pero recuerde permanecer humilde.
            Acepte que sentirá dolor e incomodidad, y aprecie que estas son oportunidades para mejorar su condicion y discapacidades. 
            ¡Con una buena actitud y trabajo duro, podrá lograr mucho más!
        </h6>
        <h6>
            La pasión es tan importante como la actitud. ¡Si eres un apasionado de tu rehabilitación definitivamente lo pasarás genial!
            Recuerde por qué está aquí cuando los tiempos se ponen difíciles y cuando los ejercicios y actividades se vuelven pesados. Tu pasión por aprender y
            mejorar le ayudará a través del programa de fisioterapia. Si siente dolor y se siente frustrado por el tratamiento, un descanso de 5 minutos
            también ayuda mucho a despejar la mente y el malestar.
        </h6>
        <h6>
            Tómese el tiempo para completar toda la información solicitada. Pedimos imprimir su nombre claramente y complete sus formularios para cumplir 
            con las políticas de nuestra oficina, seguros, facturación y requisitos gubernamentales. Esta información nos permite procesar adecuadamente 
            sus reclamos con  su seguro y reduce significativamente la necesidad de contactarlo en el futuro debido a información incompleta. Una 
            información de seguro que funciona, una falta un número o el nombre mal escrito contribuyen a la denegación de sus reclamos.
        </h6>
        <h6>
            Como cortesía para nuestro paciente, le facturaremos a su seguro primario. Si usted tiene Medicare y un seguro secundario asegúrese de haber
            establecido un "Medicare Cross Over" osea registrar su seguro médico secundario con Medicare para reducir el papeleo para los pagos.
        </h6>
        <h6>

            La Campus Orthopaedics Physical Therapy, Inc. requiere que pague su <strong>
                copago, deducibley cualquier servicio no cubierto determinado por su seguro
            </strong>. Ofrecemos dos opciones: pago con tarjeta de crédito o con cheque.
        </h6>
        <h6>
            No formamos parte del Hospital Seton.
        </h6>
        <h6>
            Le agradecemos por elegirnos para sus servicios de fisioterapia. Su medico
            ha recomendado servicios de fisioterapia para usted. Sin embargo, su médico o el Hospital Seton no tiene
            intereses financieros, asociación o decisiones administrativas en <strong>
                Campus Orthopaedics Physical Therapy Inc.
            </strong>
        </h6>
        <h6>
            Si tiene alguna pregunta sobre esta oficina y sus procedimientos, comuníquese conmigo en dr.Luis.Araneda.DPT@gmail.com
            lo antes que le sea posible.
        </h6>
        <h6>
            Gracias, Dr. Luis Araneda, PT, DPT.
        </h6>
    </div>

    <hr />
    <form method="POST">
        <p>
            <canvas width="500" height="200" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
        </p>
    </form>
    <hr />

</article>
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>