@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">The Following Information is protected by California and US Federal Laws</h5>
<hr />
<partial name="_PortalPartial" />
<h5 align="right">Liens</h5>
<partial name="_PatientHeaderPartial" />
<article>
    <header>
        <h3 align="center">Campus Orthopedics Physical Therapy, Inc.</h3>
        <h5 align="center">1800 Sullivan Ave Ste 402 Daly City, CA 94015 Tel:650.994.7800  Fax: 650.240.1834</h5>
        <hr />
        <h4 align="center">Assignment of Proceeds</h4>
        <h4 align="center">Lien for Medical/Physical Therapy Services</h4>


        <p align="right">Effective date: January 1, 2020</p>
    </header>
    <div>
        <h6>
            <strong> PART I. Certification, Authorization and Release In Accordance with HIPAA</strong>
        </h6>
        <h6>
            El paciente y el abogado de registro "Abogado" certifican que la información proporcionada en este documento es
            correcto y completo. El paciente entiende que, de acuerdo con la Portabilidad de la información de salud
            y la Ley de Privacidad de 1996 HIPAA, la información médica del paciente relacionada con este cuidado de lesiones personales puede
            compartirse para administrar y agilizar el tratamiento médico del Paciente. El paciente autoriza al médico del paciente,
            Abogado y Campus Orthopaedics Physical Therapy Inc. y / o su grupo afiliado, Campus Physical
            Therapy Center para asegurar, divulgar y divulgar dicha información de tratamiento médico con empresas y
            individuos según se considere necesario, y además acepta que el examen, el diagnóstico, los tratamientos médicos,
            Las películas y los informes se pueden compartir con las partes necesarias involucradas en el caso del Paciente. Abogado reconoce
            que el abogado ha obtenido una divulgación de información médica del paciente con fines de comunicación
            con respecto a la información médica del paciente y que Campus Orthopaedics Physical Therapy, Inc. está cubierto
            por dicho Release.
        </h6>
        <h6>
            <strong>PART II: Assignment and/or Lien for Medical Services</strong>
        </h6>
        <h6>
            El paciente y el abogado entienden que los servicios médicos, suministros o tratamiento que el paciente está recibiendo
            como parte del reclamo por lesiones personales de ongoigng puede facturarse como un gravamen puede ser autorizado por el estado correspondiente
            leyes y práctica. Por la presente, el paciente otorga a la instalación / fisioterapia un gravamen sobre los ingresos de cualquier acuerdo y
            / o sentencia en la acción legal pendiente del Paciente. El paciente reconoce que Campus Orthopaedics Physical Therapy, Inc.
            tiene el derecho exclusivo de cobrar todos los montos adeudados por los servicios del fisioterapeuta / centro. El paciente no tiene
            los recursos financieros para pagar los cargos en este momento y el paciente no tiene cobertura de seguro para cubrir tales
            servicios médicos, por lo que dicha cobertura de seguro incluiría, entre otros, seguro médico,
            Compensación, cobertura de seguro médico o gubernamental. El paciente y el abogado reconocen que la cantidad
            sujeto a este gravamen constituye los cargos ordinarios y habituales de Campus Orthopaedics Physical Therapy Inc. y
            está afiliada para servicios, suministros y / o tratamiento médico / fisioterapia para servicios similares
            a otros. El paciente y el abogado acuerdan que este Acuerdo de cesión y / o gravamen por servicios médicos reemplaza
            cualquier acuerdo de calendario de pagos que Campus Orthopaedics Physical Therapy pueda tener o no como un
            Fuera de la red con compañías de seguros médicos. Paciente y Abogado entienden que son responsables de informar
            Campus Orthopaedics Physical Therapy Inc. de cualquier cambio en la situación financiera relacionada con la atención médica y la cobertura.
            El paciente comprende que el paciente puede buscar un abogado independiente externo o cualquier decisión con respecto a la financiación o
            atención médica o para cualquier consulta relacionada con la misma. Este gravamen puede firmarse en partes y tener la misma vigencia.
            y efecto como se ejerce en un solo documento. Una fotocopia y / o copia por fax del gravamen ejecutado deberá tener la misma
            fuerza y ​​efecto como el original.
        </h6>
        <hr />
        <p><strong>PART III: Patient Information / Attorney Information</strong>. Please complete all information</p>
        <br />
        <p>Attorney Name: _____________________________________________________________________________</p>
        <p>State Bar of California Number:_____________________________________________________________</p>
        <p>Telephone: _________________________________________________________________________________</p>
        <p>Fax Number:_________________________________________________________________________________</p>
        <p>Address: ___________________________________________________________________________________</p>
        <p>City: _______________________________________ State_____________________Zip:________________</p>
        <hr />
        <p>Patient Name: ______________________________________________________________________________</p>
        <p>California Drivers License No :_____________________________________________________________</p>
        <p>Telephone: _________________________________________________________________________________</p>
        <p>Address: ___________________________________________________________________________________</p>
        <p>City: _______________________________________ State_____________________Zip:________________</p>
        <p>Date of Accident:___________________________________________________________________________</p>
        <p>
            <strong>
                Esta cesión y gravamen cubre el caso anterior y cualquier otra acción legal o administrativa relacionada con
                el sujeto lesión o reclamación.
            </strong>
        </p>
        <hr />
        <p>
            <strong>PARTE IV: Acuerdo de pago:</strong>
        </p>
        <h6>
            El paciente autoriza y ordena al abogado que pague a Campus Orthopaedics Physical Therapy, Inc. como cesionario de
            Centro de fisioterapia del campus y / o fisioterapeuta / instalación, directamente para cualquier facturación y tarifas que surjan
            fuera de los servicios, el tratamiento y la atención de fisioterapia que hayan sido o puedan ser prestados al Paciente por
            Centro de fisioterapia del campus y / o fisioterapeuta / instalación como resultado de este incidente y por el motivo
            de cualquier otra factura que el paciente pueda adeudar al centro de fisioterapia del campus y / o al fisioterapeuta / instalación.
            El paciente comprende que el paciente sigue siendo personalmente responsable del centro de fisioterapia del campus y / o
            Facturaciones del terapeuta / centro y que esta obligación no depende de que el paciente reciba algún acuerdo.
            para el reclamo del paciente
        </h6>
        <h6>
            El paciente notificará al Campus Physical Therapy, Inc. / o al fisioterapeuta / oficina de cualquier pago recibido
            por el Paciente para los servicios médicos de una compañía de seguros o cualquier otra fuente, y el Paciente instruirá a su / su
            abogado para notificar igualmente al Centro de Terapia Física del Campus y / o al Terapeuta / Instalación Física. Todo pago sera
            remitido a Campus Orthopaedics Physical Therapy Inc. dentro de los 30 días posteriores a la liquidación.
        </h6>
        <h6>
            El paciente comprende y acepta la responsabilidad financiera total por el pago de TODAS las cuentas asignadas a Campus Physical
            Centro de terapia y / o fisioterapeuta / instalación. El paciente comprende que el acuerdo legal mi pago total, parte,
            o ninguna de las cuentas del paciente y el paciente es responsable del pago completo de TODAS las cuentas. El paciente comprende
            que el Paciente es financieramente responsable de cualquier monto no pagado por esta cesión de ingresos o gravamen según se autorice
            por la ley y la práctica estatales.
        </h6>
        <h6>
            El paciente reconoce que  Campus Physical Therapy, inc / o el fisioterapeuta / o la oficina no garantíza en cuanto al resultado
            o los resultados en relación con este gravamen. Además, el Paciente acepta no hacer daño a Campus Physical Therapy, Inc. o al 
            fisioterapeuta o la oficina.
        </h6>
        <h6>
            Al firmar este documento, el Paciente comprende todas las disposiciones establecidas en este Acuerdo. El abajo firmante
            Abogado de registro para el paciente mencionado anteriormente, acepta observar todos los términos establecidos en este documento y acepta retener
            tales sumas pagaderas al Centro de Terapia Física de Ortopedia del Campus y / o al Terapeuta / Instalación Física, como cesionario de
            Centro de fisioterapia del campus y / o fisioterapeuta / instalación, de cualquier juicio o veredicto de acuerdo como
            puede ser necesario para proteger adecuadamente el Centro de Terapia Física y / o el Terapeuta Físico de Campus Orthopaedics.
        </h6>
        <h6>
            El abogado está expresamente dirigido a retener en la <strong> cuenta fiduciaria del cliente del abogado </strong> tales sumas de cualquier pago,
            acuerdos, disposiciones, ganancias y / o veredictos recibidos en nombre del Paciente según sea necesario para
            proteger y pagar a Campus Orthopaedics Physical Therapy Inc. por dichos servicios por parte del Campus Physical Therapy Center y / o
            Fisioterapeuta / Centro. El abogado tiene instrucciones adicionales para pagar de la cuenta fiduciaria del cliente del abogado a Campus Orthopaedics
            Centro de fisioterapia la cantidad adeudada y adeudada al Centro de fisioterapia de ortopedia del campus, como cesionario,
            para estos servicios médicos / de fisioterapia, exámenes, tratamientos e informes que Campus Orthopaedics
            El centro de fisioterapia y / o el fisioterapeuta / instalación se prepararon en nombre del paciente. Continuamente está de acuerdo
            que en caso de que el Paciente obtenga otro consejo en relación con cualquier acción instituida por el Paciente a
            lesiones por el paciente que fue tratado, el Abogado informará a dicho nuevo abogado sobre el Acuerdo, y asegurará un nuevo abogado
            consentimiento a ello. En caso de que no haya quejas con este acuerdo, se presentará una queja contra el abogado al State Bar.
        </h6>
        <h6>
            <strong>PART V: Verification:</strong>
        </h6>
        <h6>
            Patient authorizes and direct Attorney to provide a complete verifiable documentation about executed settlement
            agreement of Patient and Attorney with third parties upon request.
        </h6>
        <hr />
        <p>
        <p>Attorney Name: _____________________________________________________________________________</p>
        <p>State Bar of California Number:_____________________________________________________________</p>
        <p>Date: ______________________________________________________________________________________</p>
        <hr />
        <p>Patient Name: ______________________________________________________________________________</p>
        <p>California Drivers License No :_____________________________________________________________</p>
        <p>Date: ______________________________________________________________________________________</p>
        <hr />
        <p>Campus Employee Name: ______________________________________________________________________</p>
        <p>Date: ______________________________________________________________________________________</p>
        <hr />
        <form method="POST">
            <p>
                <canvas width="750" height="200" id="sign"
                        style="border:1px solid black"></canvas><br>
                <button type="button" id="accept"
                        class="btn btn-primary">
                    Accept signature
                </button>
                <button type="submit" id="save"
                        class="btn btn-primary">
                    Save
                </button><br>
                <script src="jquery.min.js"></script>
                <script src="sign.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#sign').sign({
                            resetButton: $('#resetSign'),
                            lineWidth: 5,
                            width: 600,
                            height: 400
                        })
                    })
                </script>
            </p>
        </form>
        <hr />
    </div>
    <p>Accident Description </p>
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr>
            <td>
                <textarea rows="8" placeholder="Accident Description" class="form-control" name="description" id="description"></textarea>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <strong>
                    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">
                </strong>
            </td>
        </tr>
    </table>




</article>

@section Scripts {
    <script src="~/Scripts/signature_pad.min.js"></script>
    <script src="~/Scripts/SignaturePadInit.js"></script>
}
