@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<partial name="_Law" />
<div align="center">
    <img width="50" height="50" src="~/CampusLogo.png" alt="Campus Physical Therapy">
</div>

<h5 color="grey" align="right">Clinic DPT</h5>
@*<partial name="_PatientHeaderPartial" />*@
<partial name="_PortalPartial" />

<br />
<br />
<br />
<hr />
