@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h5>Patient Responsibilities</h5>

Code of Medical Ethics Opinion 1.1.4
Successful medical care requires ongoing collaboration between patients and physicians.
Their partnership requires both individuals to take an active role in the healing process.

Autonomous, competent patients control the decisions that direct their health care.
 With that exercise of self-governance and choice comes a number of responsibilities.

Patients contribute to the collaborative effort when they:

Are truthful and forthcoming with their physicians and strive to express their concerns clearly. Physicians likewise should encourage patients to raise questions or concerns.
Provide as complete a medical history as they can, including providing information about past illnesses, medications, hospitalizations, family history of illness, and other matters relating to present health.
Cooperate with agreed-on treatment plans. Since adhering to treatment is often essential to public and individual safety, patients should disclose whether they have or have not followed the agreed-on plan and indicate when they would like to reconsider the plan.

Accept care from medical students, residents, and other trainees under appropriate supervision. Participation in medical education is to the mutual benefit of patients and the health care system; nonetheless, patients’ (or surrogates’) refusal of care by a trainee should be respected in keeping with ethics guidance.
Meet their financial responsibilities with regard to medical care or discuss financial hardships with their physicians. Patients should be aware of costs associated with using a limited resource like health  care and try to use medical resources judiciously.

Recognize that a healthy lifestyle can often prevent or mitigate illness and take responsibility to follow preventive measures and adopt health-enhancing behaviors.
Be aware of and refrain from behavior that unreasonably places the health of others at risk. They should ask about what they can do to prevent transmission of infectious disease.



Provide accurate information related to insurance or other sources of payment. You are responsible for ensuring payment of your bills and you may be responsible for charges not covered by your insurance.

Treat other patients, visitors and staff with respect and consideration. Support mutual consideration and respect by maintaining civil language and conduct in interactions with staff and providers.

Follow instructions, policies, rules, and regulations in place to support quality care for patients and a safe environment for all individuals in the Physical Therapy Clinic.

Be considerate of your fellow patients, respecting their need for privacy and a quiet environment. Refrain from being disruptive in the clinical setting.

Not knowingly initiate or participate in medical fraud.
Report illegal or unethical behavior by physicians or other health care professionals to the appropriate medical societies, licensing boards, or law enforcement authorities.