@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>

<partial name="_Law" />
<partial name="_PortalPartial" />
<div class="pagination" align="right">
    <a href="/Home/Index"> ❮ Previous</a>
    &nbsp;&nbsp;
    <a href="/Home/Billing"> Next ❯</a>
</div>
<h4 align="Center">Welcome</h4>



<div align="left" width="100%">
<h6>
    Campus Orthopedics Physical Therapy, Inc. appreciates the confidence you have shown in choosing us to provide your rehabilitation needs. Our goal is
    to return our patients to pre-injury function as safely and efficiently as possible through the judicious selection of physical therapy modalities and 
    procedures. We believe that the patient should take an active role in the decision making process regarding their treatments.
</h6>
<h6>
    We emphasize the importance of a good attitude and hold a zero tolerance policy for bad attitudes or disrespect within our office. We believe that a
    great attitude makes a massive difference in the Physical Therapy office in an open environment where fellow patients are present. Rehabilitation will
    get difficult, but remember to remain humble. Accept that you will have pain and discomfort, and appreciate that these are opportunities to improve your
    impairment and disabilities. With a good attitude and hard work, you'll be able to accomplish a lot more!

</h6>
<h6>
    Passion is just as important as attitude. If you are passionate about your rehabilitation you will definitely have a great time! Remember why you are here
    when times get hard and when the exercises and activities get heavy. Your passion for learning and  improving will help you through the Physical Therapy 
    program. If you find yourself in pain and frustrated from treatment, a casual 5 minute break helps a lot as well to clear your mind and your discomfort. 
    You should plan to spend between 45-60 minutes in our office.   
</h6>
<br />
<h5> Patient Responsibilities</h5>
<h6>
    Successful medical care requires ongoing collaboration between patients and physical therapists. 
    Their partnership requires both individuals to take an active role in the healing process.
    Provide as complete a medical history as you can, including providing information about past illnesses, medications, hospitalizations,
    family history of illness, and other matters relating to present health.
    Cooperate with agreed-on treatment plans. Accept care from physical therapy students, residents, and other trainees under appropriate supervision.
    Meet their financial responsibilities with regard to medical care. 
    Be aware of and refrain from behavior that unreasonably places the health of others at risk. They should ask about what they can do to prevent 
    transmission of infectious disease.
    Refrain from being disruptive in the clinical setting.
</h6>

<hr />


</div>
<div align="center">
<img width="150" height="150" src="~/CampusLogo.png" alt="Campus Orthopedics Physical Therapy, Inc.">
</div>

