@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<partial name="_Law" />
<partial name="_PortalPartial" />
<div class="pagination" align="right">
    <a href="/Home/Welcome"> ❮ Previous</a>
    &nbsp;&nbsp;
    <a href="/Home/Agreement"> Next ❯</a>
</div>
<h5 align="Center">Campus Physical Therapy Center</h5>
<h5 align="Center">Billing Department</h5>
<hr />
<h5 align="right">Campus Physical Therapy, Inc.</h5>
<h6 align="right">1800 Sulllivan Room 404 Daly City, CA 94015</h6>
<h6 align="right">Tel: 650.931.6406 Fax: 650.240.1834 </h6>
<h6 align="right">Attn: Ana Maria Hadi Email: Ana.Campuspt@gmail.com</h6>

<hr />
<h6>
    Please take the time to complete all requested information prior to your office visit. We ask you [to print your
    name clearly and] complete your forms to comply with our office policies, insurance, billing and/or government requirements.
    This information allows us to properly process your claims with your insurance and significantly reduces the need for contacting
    you in the future due to incomplete information. A wrong insurance information, a missing number or misspelled name contribute
    to a denial of your claims.
</h6>
<h6>
    As a courtesy to our patient we will bill your primary insurance. If you have medicare and a secondary insurance make sure
    that you have set up a <strong>Medicare crossover</strong> to reduce the paperwork for payments. Please contact Medicare and/or your secondary insurance
    and follow their instructions.
</h6>
<h6>
    Campus Orthopedics Physical Therapy requires you to pay your <strong>
        copayment, deductible and any non-covered services determined
        by your insurance
    </strong>. We provide two options: payment by credit card or by check.
</h6>

<h6 align="left"><strong>Copayment and Deductible</strong></h6>
<h6>
    Copayment: A copayment or copay is a fixed amount for a covered service, paid by a patient to
    the provider of service before receiving the service. It may be defined in an insurance policy
    and paid by an insured person each time a medical service is accessed. Deductible: In an insurance
    policy, the deductible is the amount paid out of pocket
    by the policy holder before an insurance provider will pay any expenses.
</h6>
<h6 align="left"><strong>No Shows/Late Cancellations</strong></h6>
<h6>
    No Shows/Late Cancellations: Patients who schedule clinic appointments and fail to keep them have a
    negative impact on patient care, productivity, patient education and the organization’s financials.
    The No Show process is designed to minimize disruptions in the scheduling process and disruptions
    in delivery of care. The "No Show" process is ultimately intended to improve both the health and
    quality of life of our patients by increasing access to care.
</h6>
<h6 align="left"><strong>Overpayment</strong></h6>
<h6>
    If an overpayment has occurred, please allow 30 days for your refund. If you receive any
    EOB [Explanation of Benefits] from your insurance company please forward that information to us by fax 650.240.1834
    or email at Ana.campuspt@gmail.com. The EOB information may speed up your refund. Be also advised that insurance
    company may provide an EOB to you <strong>prior</strong> to any document sent to Campus Physical Therapy. An EOB must be processed
    as "In-Network" provider according to our contract with your insurance. If we don't have a contract with your Insurance, all
    bills must be processed as an "Out of Network" provider. Covered or non-covered services are determined by your insurance company
    at the time your insurance process our bill.
</h6>
<hr />
<h5 align="left" Color="blue">
    Our relationship with your Physician and Seton Hospital
</h5>
<h6>
    Your physician recommended physical therapy services to you. However, your physician has no
    financial interests, no partnership, and no administrative decisions over <strong>
        Campus Orthopedics Physical Therapy Inc
    </strong>. Seton Medical Center is our landlord. We are not employed or we are not a Departement of Seton Hospital.
</h6>
<hr />
<h6>
    We thank you for choosing us for your physical therapy services.
    If you have any questions about this office and its procedures, please contact me at dr.luis.araneda.dpt@gmail.com
    at your earliest convenience.
</h6>
<h6>
    Thank you, Dr. Luis Araneda, PT, DPT.
</h6>

