@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="language-selector-block" class="container">
    <div class="language-selector-inner">
        <span dir="ltr" style="text-align: left">
            This page is available in the following languages:
        </span>
        <img class="language-icon" src="/images/language_icon_x2.png" alt="Languages">
        <select>
            <option value="id">
                Bahasa Indonesia
            </option>
            <option value="ms">
                Bahasa Malaysia
            </option>
            <option value="es_ES">
                Castellano (España)
            </option>
            <option value="ca">
                Català
            </option>
            <option value="da">
                Dansk
            </option>
            <option value="de">
                Deutsch
            </option>
            <option value="en" selected="selected">
                English
            </option>
            <option value="es">
                Español
            </option>
            <option value="eo">
                Esperanto
            </option>
            <option value="eu">
                Euskara
            </option>
            <option value="fr">
                français
            </option>
            <option value="gl">
                Galego
            </option>
            <option value="hr">
                hrvatski
            </option>
            <option value="it">
                Italiano
            </option>
            <option value="lv">
                Latviski
            </option>
            <option value="lt">
                Lietuvių
            </option>
            <option value="hu">
                Magyar
            </option>
            <option value="nl">
                Nederlands
            </option>
            <option value="no">
                norsk
            </option>
            <option value="pl">
                polski
            </option>
            <option value="pt">
                Português
            </option>
            <option value="pt_BR">
                Português (BR)
            </option>
            <option value="ro">
                română
            </option>
            <option value="sl">
                Slovenščina
            </option>
            <option value="sr_LATN">
                srpski (latinica)
            </option>
            <option value="fi">
                suomeksi
            </option>
            <option value="sv">
                svenska
            </option>
            <option value="tr">
                Türkçe
            </option>
            <option value="is">
                Íslenska
            </option>
            <option value="cs">
                čeština
            </option>
            <option value="el">
                Ελληνικά
            </option>
            <option value="be">
                Беларуская
            </option>
            <option value="ru">
                русский
            </option>
            <option value="uk">
                українська
            </option>
            <option value="ar">
                العربية
            </option>
            <option value="fa">
                پارسی
            </option>
            <option value="bn">
                বাংলা
            </option>
            <option value="zh">
                中文
            </option>
            <option value="ja">
                日本語
            </option>
            <option value="zh_TW">
                華語 (台灣)
            </option>
            <option value="ko">
                한국어
            </option>
        </select>
    </div>
</div>
