@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/CampusLogo.png" />
<link href="~/css/Button.css" rel="stylesheet" />

<body>

    <h6 align="center">  </h6>
    <div class="text-center">
        <h4 class="display-4">Thank you for visiting</h4>
        <hr />
        <h2> Campus Physical Therapy Center </h2>
        <h5> Patient Portal </h5>
        <hr />
    </div>
    <div align="center">
        <img width="100" height="100" src="~/CampusLogo.png" alt="Campus Physical Therapy">
    </div>
    <br />
    <br />
    <br />
    <hr />
</body>