@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Make patients aware that they are able to seek care from other sources if they persist in opposing treatment from the physician assigned.


    Code of Medical Ethics Opinion 1.1.5
    Physicians’ fiduciary responsibility to patients entails an obligation to support continuity of care for their patients. At the beginning of patient-physician relationship, the physician should alert the patient to any foreseeable impediments to continuity of care.

    When considering withdrawing from a case, physicians must:

    Notify the patient (or authorized decision maker) long enough in advance to permit the patient to secure another physician.
    Facilitate transfer of care when appropriate.
    Be aware of and refrain from behavior that unreasonably places the health of others at risk. They should ask about what they can do to prevent transmission of infectious disease.
    Refrain from being disruptive in the clinical setting. page to detail your site's privacy policy.
</p>Code of Medical Ethics Opinion 1.1.4Cooperate with agreed-on treatment plans. Since adhering to treatment is often essential to public and individual safety, patients should disclose whether they have or have not followed the agreed-on plan and indicate when they would like to reconsider the plan.



