@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
        <td colspan="30" bgcolor="#FFFFFF" class="border3"><div align="center"><strong>Confidential Information</strong></div></td>
    </tr>
    <tr>
        <td colspan="30" bgcolor="#FFFFFF" class="border3">
            <p>
                To enable us to treat you safely we require you to ask you for some information about your general health. Please answer
                the health questions and sign the form. At later visits we will check the information given to see if there have been any 
                changes in your general health. All information will be kept strictly confidential.
            </p>
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
        <td width="2%" class="border2"><input name="two" class="Symptoms" type="radio" value="1" onclick="doScoreTotal(1, this, 0);"></td>
        <td width="100%" class="border2">
            To the best of my knowledge, the questions of this form have been accurately answered.
            I understand that providing incorrect information can be dangerous to my (or patient's ) health. It is my responsibility
            to inform the treating Physical Therapist at this office of any change in medical status.
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
        <td width="2%" class="border2"><input name="two" class="Symptoms" type="radio" value="1" onclick="doScoreTotal(1, this, 0);"></td>
        <td width="100%" class="border2">I have review this form. I do not have, or have I had, any of the following medical diagnoses.</td>
    </tr>
</table>