@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/CampusLogo.png" />

<span align="center" style="margin-left:25px; display: inline-block;">

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_1" value="English">
    <label for="compliance_Stakeholder_1"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_2" value="Spanish">
    <label for="compliance_Stakeholder_2"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_3" value="Tagalog">
    <label for="compliance_Stakeholder_3"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_4" value="Chinese">
    <label for="compliance_Stakeholder_4"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_5" value="Arabic">
    <label for="compliance_Stakeholder_5"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_6" value="Russian">
    <label for="compliance_Stakeholder_6"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_7" value="French">
    <label for="compliance_Stakeholder_7"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_8" value="German">
    <label for="compliance_Stakeholder_8"></label>

    <input type="submit" name="compliance_Stakeholder" id="compliance_Stakeholder_9" value="Other">
    <label for="compliance_Stakeholder_9"></label>

    <input name="compliance_Stakeholder_Other" size="10" maxlength="255" value="" style="margin-left:25px;"> <em>(please specify)</em>
</span>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Campus Physical Therapy Center </h2>
    <h5>Patient Portal </h5>
</div>
<div align="center">
    <img width="100" height="120" src="~/CampusLogo.png" alt="Campus Physical Therapy">
</div>