@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div align="center">
    <ul align="center" class="nav">
        <li><a href="/Home/Welcome"><i class="fa fa-fw fa-stethoscope"></i>Welcome&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Billing"><i class="fa fa-fw fa-stethoscope"></i>Billing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Agreement"><i class="fa fa-fw fa-stethoscope"></i>Agreement&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Assignment"><i class="fa fa-fw fa-stethoscope"></i>Assignment&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Cancellation"><i class="fa fa-fw fa-stethoscope"></i>Cancellation&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/MedicalConsent"><i class="fa fa-fw fa-stethoscope"></i>Consent&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/DirectAccess"><i class="fa fa-fw fa-stethoscope"></i>Access&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Lien"><i class="fa fa-fw fa-stethoscope"></i>Lien&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Intake"><i class="fa fa-fw fa-stethoscope"></i>Intake&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/History"><i class="fa fa-fw fa-stethoscope"></i>History&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Covid19"><i class="fa fa-fw fa-stethoscope"></i>Covid-19&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/PastHistory"><i class="fa fa-fw fa-stethoscope"></i>Past History&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/PainDrawing"><i class="fa fa-fw fa-stethoscope"></i>Pain&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/SpecialTest"><i class="fa fa-fw fa-stethoscope"></i>Special Test&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
        <li><a href="/Home/Goals"><i class="fa fa-fw fa-stethoscope"></i>Goals&nbsp;&nbsp;&nbsp;&nbsp;</a></li>  |
    </ul>
</div>
<hr />

