@page "/patient"
@using ClinicDataLibrary
@inject IDataAccess _data


<h3>Patient</h3>

@code {
    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    //}

}
