@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Goniometer.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/3750a469fe.js" crossorigin="anonymous"></script>
<h3 align="center">Campus Physical Therapy Practice Manager </h3>
<h5 style="color:royalblue" align="center">
    以下信息受加利福尼亚州和美国联邦法律保护
    Yǐxià xìnxī shòu jiālìfúníyǎ zhōu hé měiguó liánbāng fǎlǜ bǎohù
</h5>
<hr />

<partial name="_PortalPartial" />
<h5 align="right">
    欢迎来到校园骨科物理治疗
    Huānyíng lái dào xiàoyuán gǔkē wùlǐ zhìliáo
</h5>

<article>
    <div align="left" width="100%">
        <h6>
            我们感谢您在选择我们提供您的服务时表现出的信心
            康复需求。我们的目标是让我们的患者恢复到受伤前的功能
            通过明智地选择身体，尽可能安全有效地
            治疗方式和程序。我们认为患者应该采取
            在有关其治疗的决策过程中发挥积极作用。
            Wǒmen gǎnxiè nín zài xuǎnzé wǒmen tígōng nín de fúwù shí biǎoxiàn chū de xìnxīn
            kāngfù xūqiú. Wǒmen de mùbiāo shì ràng wǒmen de huànzhě huīfù dào shòushāng qián de gōngnéng
            tōngguò míngzhì de xuǎnzé shēntǐ, jǐn kěnéng ānquán yǒuxiào de
            zhìliáo fāngshì hé chéngxù. Wǒmen rènwéi huànzhě yīnggāi cǎiqǔ
            zài yǒuguān qí zhìliáo de juécè guòchéng zhōng fāhuī jījí zuòyòng.
        </h6>
        <h6>
            请花时间完成所有要求的信息。我们要求打印您的
            清楚地命名并填写您的表格，以遵守我们的办公室政策、保险、账单和/或政府
            和政府要求。这些信息使我们能够正确处理您的索赔
            您的保险，并显着减少与您联系的需要
            因资料不全，未来可期。旧的保险信息，丢失的
            号码或拼写错误的姓名会导致您的索赔被拒绝。
            Qǐng huā shíjiān wánchéng suǒyǒu yāoqiú de xìnxī. Wǒmen yāoqiú dǎyìn nín de
            qīngchǔ dì mìngmíng bìng tiánxiě nín de biǎogé, yǐ zūnshǒu wǒmen de bàngōngshì zhèngcè, bǎoxiǎn, zhàngdān hé/huò zhèngfǔ
            hé zhèngfǔ yāoqiú. Zhèxiē xìnxī shǐ wǒmen nénggòu zhèngquè chǔlǐ nín de suǒpéi
            nín de bǎoxiǎn, bìng xiǎnzhe jiǎnshǎo yǔ nín liánxì de xūyào
            yīn zīliào bùquán, wèilái kě qī. Jiù de bǎoxiǎn xìnxī, diūshī de
            hàomǎ huò pīnxiě cuòwù de xìngmíng huì dǎozhì nín de suǒpéi bèi jùjué.
        </h6>
        <h6>
            作为对我们患者的礼貌，我们将向您的主要保险开具账单。如果你有
            medicare 和二级保险 确保您已经设置了 medicare
            交叉以减少付款的文书工作。
            Zuòwéi duì wǒmen huànzhě de lǐmào, wǒmen jiāng xiàng nín de zhǔyào bǎoxiǎn kāijù zhàngdān. Rúguǒ nǐ yǒu
            medicare hé èr jí bǎoxiǎn quèbǎo nín yǐjīng shèzhìle medicare
            jiāochā yǐ jiǎnshǎo fùkuǎn de wénshū gōngzuò.
        </h6>
        <h6>
            校园骨科物理治疗需要您支付<strong>
                共付额，免赔额
                以及您的保险确定的任何未承保的服务
            </strong>。
            我们提供两种选择：信用卡付款或支票付款。
            Xiàoyuán gǔkē wùlǐ zhìliáo xūyào nín zhīfù <strong>
                gòng fù é, miǎn péi é
                yǐjí nín de bǎoxiǎn quèdìng de rènhé wèi chéngbǎo de fúwù
            </strong>.
            Wǒmen tígōng liǎng zhǒng xuǎnzé: Xìnyòngkǎ fùkuǎn huò zhīpiào fùkuǎn.
        </h6>
        <h6>
            我们不是西顿医院的一部分。
            Wǒmen bùshì xī dùn yīyuàn de yībùfèn.
        </h6>
        <h6>
            我们感谢您选择我们为您提供理疗服务。你的医生
            向您推荐的物理治疗服务。但是，您的医生或 Seton Hospital 没有
            经济利益，没有合伙关系，也没有关于<strong>
                的行政决定
                Campus Orthopedics Physical Therapy Inc.
            </strong>
            Wǒmen gǎnxiè nín xuǎnzé wǒmen wèi nín tígōng lǐliáo fúwù. Nǐ de yīshēng
            xiàng nín tuījiàn de wùlǐ zhìliáo fúwù. Dànshì, nín de yīshēng huò Seton Hospital méiyǒu
            jīngjì lìyì, méiyǒu héhuǒ guānxì, yě méiyǒu guānyú <strong>
                de xíngzhèng juédìng
                Campus Orthopedics Physical Therapy Inc.
            </strong>
        </h6>

        <h6>
            如果您对该办公室及其程序有任何疑问，请通过 dr.Luis.Araneda.DPT@gmail.com 与我联系
            在您方便的时候尽早。
            Rúguǒ nín duì gāi bàngōngshì jí qí chéngxù yǒu rènhé yíwèn, qǐng tōngguò dr.Luis.Araneda.DPT@gmail.Com yǔ wǒ liánxì
            zài nín fāngbiàn de shíhòu jǐnzǎo.
        </h6>
        <h6>

            謝謝，
            Xièxiè, Dr. Luis Araneda, PT, DPT.
        </h6>

    </div>

    <hr />
    <form method="POST">
        <p>
            <canvas width="500" height="200" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
        </p>
    </form>
    <hr />

</article>
<td>

    <input name="Print" type="button" class="shape" onClick="window.print();return false" value="Print page">

</td>
<td>

    <input name="Print" type="button" class="btn btn-success" onClick="window.print();return false" value="Print page">

</td>
<button type="button" class="btn btn-default">Default</button>